@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-family: 'Lato';
  font-size: 18px;
  background: linear-gradient(180deg, #6699ff, #0099cc);
}

.hidden {
  display: none;
}

.nav {
  margin-top: 25px;
}

#title {
  font-size: 48px;
  color: white;
  font-weight: 200;
}

.title-center {
  font-size: 36px;
  color: white;
  font-weight: 200;
  text-align: center;
  letter-spacing: 3px;
}

.cta-button {
  float: right;
}

.main-content {
  margin-top: 80px;
  color: black;
}

.big-label {
  font-size: 20px;
}

.med-label {
  font-size: 18px;
  font-weight: 200;
  color: white;
}

.current-status {
  padding-top: 10px;
}

.failed-pages {
  margin-top: 30px !important;
}

.green {
  color: #00ff00;
}

.red {
  color: red;
}
